* {
  margin: 0;
  padding: 0;
  box-sizing: border-box];
}
#line3,
#line4,
#line5 {
  display: flex;
  flex-wrap: wrap;
}

#line3 img {
  width: 30%;
  margin: 1.6%;
}
#line4 img {
  width: 21%;
  margin: 1.6%;
}
#line5 img {
  width: 16%;
  margin: 1.6%;
}
p {
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid #7060604f;
  width: 30%;
  padding-bottom: 8px;
  margin: 1.6%;
}
